.base {
    background-color: lightyellow;
    height: 600px;
    width: 260px;
    border-style: groove;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 0px 15px;
    overflow-y: auto;
}
 .img {
    width: 70%;
    display: block;
    margin: 0 auto;
 }